/* JobSupportComponent.css */
.job-support-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .job-support-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .job-support-container h3 {
    font-size: 20px;
    margin-top: 20px;
  }
  
  .job-support-container p {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .job-support-container ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .job-support-container li {
    margin-bottom: 10px;
    line-height: 1.4;
  }
  