.TrainingCourse{
    padding: 15px;
}
.TrainingCourse a{
    color: rgb(31, 1, 1);
    padding: 5px;
    margin: 15px;
    text-decoration: none;
    border-radius: 5px;
    background-color: #0ca;
    box-shadow: 1px 1px 1px #000;
}
.TrainingCourse h5{
    margin: 15px;
    font-style:italic;
    color: rgb(226, 226, 252);
    font-size: 14px;
}
.javaCourse{
    background-color: aqua;
    color: darkblue;
}
.uiCourse{
    background-color: #05334a;
    color: #73b3d3;
}
.dataCourse{
    background-color: aquamarine;
    color: #01131c;
}