/* Example CSS for chatbot component */
.chatbot-container {
  position: relative;
}

.chatbot-icon {
  position: fixed;
  bottom: 105px;
  right: -60px;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  background-color: #25d366;
  color: white;
  padding: 8px 12px;
  rotate: -90deg;
  border: none;
  display: flex;
  align-items: center;
  cursor: pointer;

  .fa {
    margin-right: 10px;
  }
}

.chatbot-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 300px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.chatbot-popup.open {
  display: block;
}

.close-button {
  background-color: #ff4d4d;
  /* Red color */
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 230px;
  margin-bottom: 50px;
  cursor: pointer;
}

.whatsapp-link {
  display: block;
  background-color: #25d366;
  /* WhatsApp green */
  color: white;
  text-align: center;
  padding: 10px 0;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
}

.great {
  color: #000;
  padding: 15px 80px 15px 15px;
  border: 1px solid #333;
}